:root {
    --background-image: url(https://cdn.discordapp.com/attachments/608848206293368832/609462042872643591/1561585576531.png);
    --friends-icon: url(https://i.imgur.com/63g6Em8.jpg);
    --friends-icon-position: center center;
    --friends-icon-zoom: 100%;
    --main-color: rgb(67, 181, 129);
    --main-transparency: rgba(0, 0, 0, 0.8);
    --hover-list-bg-color: rgba(255, 255, 255, 0.15);
    --border-lines-color: hsla(0, 0%, 100%, 0.1);
    --scroll-bar-color: rgba(255, 255, 255, 0.15);
    --font-size: 16px;
    --selected-text-voice-color: #f6f6f7;
    --text-hover-color: #b9bbbe;
    --voice-hover-color: #f6f6f7;
    --unread-text-color: #dcddde;
    --options-transparency: transparent;
}

body {
    background-image: var(--background-image) !important;
    background-size: cover !important;
}

.theme-dark .friends-icon {
    background-image: var(--friends-icon) !important;
    background-position: var(--friends-icon-position) !important;
    background-size: var(--friends-icon-zoom) !important;
}

.theme-dark .container-2Thooq {
    color: var(--main-color) !important;
}

.theme-dark .scrollbar-3dvm_9 {
    background-color: var(--scroll-bar-color) !important;
}

.theme-dark .container-1ow0q8:hover {
    background-color: var(--hover-list-bg-color) !important;
}

.theme-dark .header-23xsNx {
    border-color: var(--border-lines-color) !important;
}

.theme-dark .selected-1-mYnM {
    color: var(--selected-text-voice-color) !important;
}

.theme-dark .wrapper-1VLyxH:hover {
    color: var(--text-hover-color) !important;
}

.theme-dark .name-1gD6HS:hover {
    color: var(--voice-hover-color) !important;
}

.theme-dark .unread-25zGE3 {
    color: var(--unread-text-color) !important;
}

.theme-dark .options-2QenbG {
    background-color: var(--options-transparency) !important;
}
